.img{
    width: 80%;
    margin: 0px;
    padding: 10px;
    background: url(../../../assets/img/nai2.jpg), green;
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    color: white;
    border-radius: 20px;
}
input{
    margin: 20px;
    width: auto;
    border: 0;
}
.cok{
    width: 70%;
    padding: 10px;
    height: auto;
} 
a{
    padding: 0px;
    margin: 0px;
    font-size: x-large;
    color: white;
}
a :hover {
    color: lawngreen;
}
li{
    margin: 10px;
}
.tas{
    font-size: x-large;
    color: rgb(228, 228, 228);
    background: green;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
img{
    height: 120px;
    width: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}
h3{
    color: white;
}
p{
    font-size: small;
}