<div class="img row">
    <h2>NAIROBI</h2>
    <div class="col-md-12" align="left">
        <div class="col-md-6">
            <div class="col-md-12 tas">
                <div class="col-md-4">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8">
                    <h3>Villa Rosa Kempinski</h3>
                    <p>Welcome to Villa Rosa</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 tas">
                <div class="col-md-4">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8">
                    <h3>Crown Plaza</h3>
                    <p>Welcome to Crown Plaza</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 tas">
                <div class="col-md-4">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8">
                    <h3>Movenpick</h3>
                    <p>Welcome to Movenpick</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 tas">
                <div class="col-md-4">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8">
                    <h3>Golden Tulip</h3>
                    <p>Welcome to Golden Tulip</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 tas">
                <div class="col-md-4">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8">
                    <h3>Ibis styles</h3>
                    <p>Welcome to Ibis styles</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 tas">
                <div class="col-md-4">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8">
                    <h3>Nairobi Serena Hotel</h3>
                    <p>Welcome to Nairobi Serena Hotel</p>
                </div>
            </div>
        </div>
    </div>
</div>