<div class="img row">
    <h2>NAIROBI</h2>
    <div class="col-md-12" align="left" style="padding: 0px; margin: 0%;">
        <div class="col-md-12" style="margin: 10px;">
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 0px;">
                    <h3>Villa Rosa Kempinski</h3>
                    <p>Welcome to Villa Rosa</p>
                </div>
            </div>
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 0px;">
                    <h3>Crown Plaza</h3>
                    <p>Welcome to Crown Plaza</p>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin: 10px;">
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 0px;">
                    <h3>Movenpick</h3>
                    <p>Welcome to Movenpick</p>
                </div>
            </div>
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 0px;">
                    <h3>Golden Tulip</h3>
                    <p>Welcome to Golden Tulip</p>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin: 10px;">
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 0px;">
                    <h3>Ibis styles</h3>
                    <p>Welcome to Ibis styles</p>
                </div>
            </div>
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 0px;">
                    <h3>Nairobi Serena Hotel</h3>
                    <p>Welcome to Nairobi Serena Hotel</p>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin: 10px;">
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 10px;">
                    <h3>Sarova Stanely</h3>
                    <p>Welcome to Sarova Stanely</p>
                </div>
            </div>
            <div class="col-md-6 tas">
                <div class="col-md-4" style="padding: 0%;">
                    <img src="../../../assets/img/IMG-20210401-WA0001.jpg">
                </div>
                <div class="col-md-8" style="padding-top: 10px;">
                    <h3>Best western Plus</h3>
                    <p>Welcome to Best western Plus</p>
                </div>
            </div>
        </div>
    </div>
</div>