.img{
    width: 80%;
    margin: 0px;
    padding: 10px;
    background: url(../../../assets/img/IMG-20210401-WA0004.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    color: white;
    border-radius: 20px;
}
input{
    margin: 20px;
    width: auto;
    border: 0;
}
.cok{
    width: 70%;
    padding: 10px;
    height: auto;
} 
a{
    padding: 0px;
    margin: 0px;
    font-size: x-large;
    color: white;
}
a :hover {
    color: lawngreen;
}
li{
    margin: 10px;
}