<div class="img row">
    <h2>MAASAI MARA</h2>
    <div class="col-md-12" align="left" style="padding: 0px; margin: 0%;">
        <div class="col-md-4">
            <ul>
                <li><a>Mahali Mzuri</a></li>
                <li><a>Mara Saruni</a></li>
                <li><a>Mara Ngeche</a></li>
                <li><a>Mara Serena Game Lodge</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a>The Monarch</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a>Fahari Gardens</a></li>
            </ul>   
        </div>
    </div>
</div>