<div class="img row">
    <h2>MOMBASA</h2>
    <div class="col-md-12" align="left" style="padding: 0px; margin: 0%;">
        <div class="col-md-4">
            <ul>
                <li><a href="">The Maji Beach Botique</a></li>
                <li><a href="">Pinewood Beach Resort & Spa</a></li>
                <li><a>Swahili Beach</a></li>
                <li><a>Voyager Beach Resort</a></li>
                <li><a>Serena Beach Resort & Spa</a></li>
                <li><a>The Sands at Nomad</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a>Nyali Sun Africa Beach Hotel & Spa</a></li>
                <li><a>Prideinn Paradise Beach Resort & Spa</a></li>
                <li><a>Bahari Beach Hotel</a></li>
                <li><a>Sarova White Sands Beach Resort & Spa</a></li>
                <li><a>Diani Reef Beach Resort & Spa</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><a>Travellers Beach Hotel & Spa</a></li>
                <li><a>Severin Sea Lodge</a></li>
                <li><a>Hotel Englishpoint & Spa</a></li>
                <li><a>Bliss Resort</a></li>
                <li><a>Prideinn Mombasa City</a></li>
                <li><a>Amani Tiwi Beach Resort</a></li>
            </ul>   
        </div>
    </div>
</div>