<div class="container">
  <div class="row">
    <h1>Tours & Travel</h1>
    <nav class="nav">
      <a routerLink="/">Home</a>
      <a routerLink="/us">About Us</a>
      <a routerLink="/booking">Bookings</a>
      <a routerLink="/stay">Stays</a>
      <a routerLink="/flights">Flights</a>
      <a routerLink="/contacts">Contacts</a>
    </nav>
  </div>

  <div class="bod" align="center">
    <router-outlet></router-outlet>
  </div>

  <div class="row" style="margin-top: 100px; padding: 0px;">
    <footer>
      <p style="color: lawngreen;">@copyright 2021 all rights reserved</p>
      <div class="col-md-12 footer">
        <div class="col-md-2">
          <p>Sunshine Travel & Tours Ltd</p>
        </div>
        <div class="col-md-2">
          <p>Contact: 0703911436</p>
        </div>
        <div class="col-md-2">
          <p>3rd Floor, Center Point Building</p>
        </div>
        <div class="col-md-2">
          <p>Parklands, Nairobi</p>
        </div>
        <div class="col-md-2">
          <p>P.O.Box 336-00623</p>
        </div>
      </div>
    </footer>
  </div>
</div>