<div class="row">
  <div class="uzi">
    <button routerLink='/nai'>
      <img src="../../assets/img/nairobi.jpg"
        width="100%"
        height="100%">Nairobi
    </button>
    <button routerLink='/momba'>
      <img src="../../assets/img/images.jpg"
          width="100%"
          height="100%">Mombasa
    </button>
    <button routerLink="/kis">
      <img src="../../assets/img/IMG-20210401-WA0003.jpg"
          width="100%"
          height="100%">Maasai Mara
    </button>
  </div>
</div>

<div class="col">
  <router-outlet></router-outlet>
</div>

<div class="row" style="margin: 20px;">
  <u><h3 style="text-align: left; margin-left: 40px;">New features</h3></u>
  <div class="com">
    <button class="butt">
      <img class="img"src="../../assets/img/kisumu.jpg"
        width="100%">Eldoret
    </button>
    <button class="butt">
      <img class="img"src="../../assets/img/IMG-20210401-WA0009.jpg"
        width="100%">Amboseli
    </button>
    <button class="butt">
      <img class="img"src="../../assets/img/kisumu.jpg"
        width="100%">Samburu
    </button>
  </div>
</div>