.container{
    width: 100%;
    margin: 0px;
    padding: 0%;
    padding-bottom: 10px;
}
button{
    font-size: large;
    color: lawngreen;
    border: 0ch;
    height: 150px;
    width: 180px;
    margin: 20px;
    padding: 0px;
    background-repeat: no-repeat;
    border-radius: 10px;
}
button :active{
    border: 0px;
}
.com{
    background: rgb(231, 231, 231);
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}
.row{
    width: 100%;
    margin: 0ch;
    padding: 0ch;
}
.img{
    height: auto;
    margin: 8px;
}
.butt{
    width: 250px;
    height: 200px;
    margin: 20px;
    margin-left: 20px;
    padding: 0px;
}